/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Aleo:wght@300&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/* Asterik wildcard selector for overiding default styles by browser */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General Styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #3a3a3a;
    font-family: 'Aleo', sans-serif;
}

h1, h2, h3 {
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #35d5e7;
}
/* Header */
header {
    background-color: darkgrey;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: #21757e;
}



#menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
}

#menu > li {
    margin-bottom: 1rem;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* Nav bar sytles and dropdown toggle */
nav {
    position: absolute;
    background-color: darkgrey;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top: 100%;
}

/* Nav Toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}


/* Main */
main {
    /* Make main fill any surplus space to push footer down */
    flex: 1 0 auto;
    margin-top: 78px;
}

#hero {
    height: 600px;
    width: 100%;
    background: url("../images/hero.webp"); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

#cover-text {
    background-color: rgba(75, 217, 245, 0.7);
    font-size: 130%;
    position: absolute;
    bottom: 20px;
    width: 70%;
    min-height: 150px;
    padding-top: 30px;
    padding-left: 10px;
}

#cover-text > h2, #cover-text >h3 {
    color: #ffffff;
}

#about {
    width: 90%;
    margin: 20px auto;
}

#about h2 {
    margin-bottom: 20px;
    text-align: center;
    font-size: 280%;
}

#about p {
    padding: 0 20px;
}

hr {
    border-top: 1 px #3a3a3a;
    margin: 5px 0;
}
/* Footer */
#socials {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#socials i {
    font-size: 160%;
    padding: 5%;
    color: #3a3a3a;
}

/* Media query for tablets and larger (768px and up) */
@media screen and (min-width: 768px) {
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;
    }

    #menu > li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 200%;
        line-height: 75px;
        margin: 0 0.5rem;
    }

    main {
        margin-top: 79px;
    }

    #cover-text {
        width: 300px;
        right: 50px;
    }
}

/* Large screens (992px and up) */
@media screen and (min-width: 992px) {
    #menu a:hover{
        border-bottom: 1px solid #3a3a3a;
    }
}